<section class="ob-profile_component">
  <div class="ob-top">
    <div class="breadcrumb-flex">
      <div class="curr-user-flex">
        <h5>Tetherfi Task Manager</h5>
      </div>
      <i class="fi fi-rr-angle-right"></i>
      <h5>
        <i class="fi fi-sr-user"></i>
        <span>Create your profile</span>
      </h5>
    </div>
  </div>
  <!-- <div class="nb-top-middle">
    <div class="stage-box active-stage" *ngFor="let stage of stages; let i = index"
      [ngClass]="{'active-stage': currentStage >= i, 'completed-stage': currentStage >= i+1}">
      <i class="fi {{stage.icon}}"></i>
      <p>{{stage.name}}</p>
    </div>
  </div> -->
  <div class="cb-enclosure">
    <div class="cb-enclosure-1">
      <div class="cb-enclosure-2" #cbe2>
      </div>
    </div>
  </div>

  <div class="button-flex">
    <!-- <button [disabled]="!currentStage" class="primary-button danger-button"
      [ngClass]="{'blocked-button': currentStage == 0 }" (click)="onProceed('bwd')">
      <i class="pb-icon fi fi-rr-arrow-left"></i>
      <div class="pb-text">Back</div>
    </button>
    <button class="primary-button" [ngClass]="{'blocked-button': !getButtonStatus() }" (click)="onProceed('fwd')">
      <div class="pb-text">{{currentStage == 3 ? 'Create board' : 'Next'}}</div>
      <i class="pb-icon fi fi-rr-arrow-right"></i>
    </button> -->
  </div>
</section>
