<div class="profile-form-wrapper">
  <div class="icon-circle">
    <i class="fi fi-rr-user"></i>
  </div>
  <h4>Enter your basic information</h4>
  <p>You can add more details in the profile section</p>
  <form [formGroup]="obProfileFormGroup">
    <div class="input-group input-group-obp-0"
      [ngClass]="{'input-group-focus-forced': obProfileFormGroup.controls['name'].value?.length}">
      <label for="name">Enter your name</label>
      <input formControlName="name" type="text" (focus)="onFieldFocus(0)" (blur)="onFieldFocus(0)">
      <i *ngIf="validateField(obProfileFormGroup, 'name')" class="warn-icon fi fi-sr-info"></i>
    </div>
    <span class="error-message" *ngIf="validateField(obProfileFormGroup, 'name')">Please enter your name to
      proceed!</span>
    <div class="input-group input-group-obp-1"
      [ngClass]="{'input-group-focus-forced': obProfileFormGroup.controls['designation'].value?.length}">
      <label for="designation">Choose your designation</label>
      <input formControlName="designation" type="text" (focus)="onFieldFocus(1)" (blur)="onFieldFocus(1)">
      <i *ngIf="validateField(obProfileFormGroup, 'designation')" class="warn-icon fi fi-sr-info"></i>

      <div class="designations-flex" *ngIf="showDesignationsFlex">
        <div class="designation" *ngFor="let designation of designations" role="button"
          (click)="onChoose('designation', designation)">
          <p>{{designation}}</p>
        </div>
      </div>
    </div>
    <span class="error-message" *ngIf="validateField(obProfileFormGroup, 'designation')">Please choose a
      designation</span>
    <div class="input-group input-group-obp-2"
      [ngClass]="{'input-group-focus-forced': obProfileFormGroup.controls['role'].value?.length}">
      <label for="role">Choose your role</label>
      <input formControlName="role" type="text" (focus)="onFieldFocus(2)" (blur)="onFieldFocus(2)">
      <i *ngIf="validateField(obProfileFormGroup, 'role')" class="warn-icon fi fi-sr-info"></i>

      <div class="roles-flex" *ngIf="showRolesFlex">
        <div class="role" *ngFor="let role of roles" role="button" (click)="onChoose('role', role)">
          <p>{{role}}</p>
        </div>
      </div>
    </div>
    <span class="error-message" *ngIf="validateField(obProfileFormGroup, 'role')">Please choose a
      role</span>
    <div class="button-flex">
      <button class="primary-button">
        <div class="pb-text">Proceed</div>
        <i class="pb-icon fi fi-rr-arrow-right"></i>
      </button>
    </div>
  </form>
</div>
