<section class="timesheet_section">
  <div class="tis-top">
    <div class="board-info">
      <h3>Timesheet Automate</h3>
    </div>
    <div class="app-utilities">
      <div class="medium-button notifications-button" (click)="this.appControlService.showNotifications = true;"
        role="button">
        <i class="fi fi-rr-bell"></i>
        <div class="bell"></div>
      </div>
      <div class="medium-button export-task-button" role="button"
        (click)="this.appControlService.showTaskExporter = true;">
        <i class="fi fi-rr-file-download"></i>
      </div>
      <div class="link-sharer" style="pointer-events: none; opacity: 0.1;">
        <h5>Share</h5>
        <h5 class="link-option" role="button" (click)="this.appControlService.showAppShare = true;">
          <span>Link</span>
          <i class="fi fi-rr-angle-down"></i>
        </h5>
      </div>
    </div>
  </div>
  <div class="tis-stage-bar">
    <div class="stage-box" [ngClass]="{'completed-stage': currentStage > 0, 'active-stage-box': currentStage == 0}">
      <i class="fi fi-sr-shield-check"></i>
      <p>Authentication</p>
    </div>
    <i class="fi fi-br-angle-small-right"></i>
    <div class="stage-box" [ngClass]="{'completed-stage': currentStage > 1, 'active-stage-box': currentStage == 1}">
      <i class="fi fi-sr-file-edit"></i>
      <p>Validation</p>
    </div>
    <i class="fi fi-br-angle-small-right"></i>
    <div class="stage-box" [ngClass]="{'completed-stage': currentStage > 2, 'active-stage-box': currentStage == 2}">
      <i class="fi fi-sr-check-circle"></i>
      <p>Submission</p>
    </div>
  </div>
  <div class="tis-main">
    <div class="stage-box stage-0-box" *ngIf="currentStage == 0">
      <h2>Just a click away to start!</h2>
      <p>Please click on authenticate zoho button, where you will be asked for timesheet concent. Allow to proceed
        further.</p>
      <ng-lottie [height]="'250px'" [options]="zohoLoginAnimation"></ng-lottie>
      <button (click)="onAuthenticateZohoProjects()" style="align-self: center;" class="primary-button">
        <p class="pb-text">Authenticate ZOHO Projects</p>
      </button>
    </div>
    <div class="stage-box stage-1-box" *ngIf="currentStage == 1">
      <div class="stb1-box">
        <div class="st1b-left">
          <h3><i class="fi fi-sr-route"></i> ZOHO Task Mapper</h3>
          <div class="indv-day-flex">
            <div class="day-box active-day">
              <p>24 Mon</p>
            </div>
            <div class="day-box">
              <p>25 Tue</p>
            </div>
            <div class="day-box">
              <p>26 Wed</p>
            </div>
            <div class="day-box">
              <p>27 Thu</p>
            </div>
            <div class="day-box">
              <p>28 Fri</p>
            </div>
          </div>
        </div>
        <div class="st1b-right">
          <div class="from-to-flex">
            <div (click)="picker1.open()" class="day-box">
              <p>{{fromDate | date:'dd MMM'}}</p>
              <input [max]="toDate" matInput [matDatepicker]="picker1" #datePicker1>
              <mat-datepicker #picker1 (closed)="onPickerClosed('from')"></mat-datepicker>
            </div>
            <i class="fi fi-br-minus-small"></i>
            <div (click)="picker2.open()" class="day-box">
              <p>{{toDate | date:'dd MMM'}}</p>
              <input [min]="fromDate" [max]="today" matInput [matDatepicker]="picker2" #datePicker2>
              <mat-datepicker #picker2 (closed)="onPickerClosed('to')"></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="stb1-main">
        <div class="task-main-flex">
          <div class="day-progress-flex">
            <div class="progress-data-flex">
              <h5>60% Completed</h5>
              <p>01:37 left</p>
            </div>
            <div class="progress-bar-out">
              <div style="--daycompleteprogperc: 60" class="actual-progress"></div>
            </div>
            <div class="progress-data-flex">
              <div class="task-types-flex">
                <img src="assets/images/common/jira.svg" alt="">
                <img src="assets/images/common/msteams.svg" alt="">
                <img src="assets/images/common/gitlab.svg" alt="">
                <img src="assets/images/common/todo.svg" alt="">
              </div>
              <p><i class="fi fi-sr-clock-three"></i>Mininum work hours: 08:00</p>
            </div>
          </div>
          <div class="task-project-card-flex">
            <div class="zproject-container" cdkDropListGroup *ngFor="let zohoTask of timesheetData[0].active">
              <div class="zoho-task-flex">
                <div class="zoho-info-flex">
                  <div class="zi-project">
                    <h5 class="one-line-clamp">{{zohoTask.zohoProjectName}}</h5>
                  </div>
                  <div class="zi-task">
                    <p class="one-line-clamp">{{zohoTask.zohoProjectTaskName}}</p>
                  </div>
                </div>
                <div class="task-info-flex">
                  <div class="task-approval-flex">
                    <i class="fi fi-sr-check-circle"></i>
                    <h5>4/4</h5>
                  </div>
                  <div class="hour-log">
                    <input type="text" [(ngModel)]="zohoTask.workHours" placeholder="HH:MM">
                  </div>
                </div>
              </div>
              <div class="tasks-flex" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="zohoTask.tasks"
                (cdkDropListDropped)="drop($event)">

                <div class="task-box" cdkDrag *ngFor="let task of zohoTask.tasks">
                  <div class="tb-top">
                    <div class="image-flex">
                      <img src="assets/images/common/{{task.taskType}}.svg" alt="">
                      <p>{{task.taskType}}</p>
                    </div>
                    <h5>{{task.taskId}}</h5>
                  </div>
                  <h4>{{task.taskname}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="task-bin">
          <h4>Deleted tasks</h4>
          <img src="assets/images/common/404.svg" alt="">
          <p>No tasks deleted yet!</p>
        </div>
      </div>
    </div>
  </div>

</section>
<app-export-task *ngIf="appControlService.showTaskExporter"></app-export-task>
<app-notifications *ngIf="appControlService.showNotifications"></app-notifications>
