.task-enclosure {
  width: inherit;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  .task-bar, .taskbar-bg {
    width: calc(var(--tskenwid) * 1%);
    min-width: 35rem;
    height: 7rem;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    border-radius: 5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: rgba(38, 39, 44, 0.5);
    z-index: 2;

    .tbl-flex {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      z-index: 2;

      .task-type {
        min-height: 6rem;
        min-width: 6rem;
        border-radius: 50%;
        background: var(--bg-1);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 3rem;
        }
      }

      .task-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h5 {
          font-size: 1.6rem;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          padding-right: 3rem;
        }

        p {
          font-size: 1.4rem;
          font-weight: 400;
          opacity: 0.8;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1rem;

          .priority {
            display: inline-block;
            padding: 0 1rem;
            border-radius: 0.5rem;
            background: var(--theme-var-1);
            font-size: 1rem;
            font-weight: 500;
          }

          .members-flex{
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 0.5rem;

            img{
              height: 1.75rem;
              width: 1.75rem;
              border-radius: 5rem;
              margin-left: -0.5rem;
            }
          }
        }
      }
    }

    i {
      z-index: 2;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
      font-size: 1.4rem;
      margin-top: 0.3rem;
      cursor: pointer;
    }
  }

  .taskbar-bg{
    width: calc(var(--tskenwid) * 1%);
    background: var(--bg-3);
    z-index: 1;
    min-width: unset;
  }

  .task-bg-block {
    width: calc(100% / 10);
    min-width: calc(100% / 10);
    min-height: 8rem;

    &:nth-child(even) {
      background: repeating-linear-gradient(45deg,
          transparent,
          transparent 10px,
          var(--bg-2) 10px,
          var(--bg-2) 20px);
      background-attachment: fixed;
      border-right: 2.5px solid var(--bg-1);
    }
  }
}
