<section class="authorization-wrapper">
  <div class="aw-left">
    <div class="awl-enclosure">
      <h5>Task manager</h5>
      <div class="awl-content-flex">
        <h1>Manage your task and time in a new way.</h1>
        <h4>Automatic task inspection made possible with powerful integrations like JIRA, GitLab, Microsoft Teams, KEKA
          along with ZOHO Timesheet auto compliance feature.</h4>
        <ng-lottie [height]="'300px'" [options]="authAnimation"></ng-lottie>
      </div>
      <div class="paginator">
        <div *ngFor="let item of [].constructor(3); let i = index" class="page-index"
          [ngClass]="{'active-index': i==0}"></div>
      </div>
    </div>
  </div>
  <div class="aw-right">
    <!-- <div class="awr-overlay awro-top"></div>
    <div class="awr-overlay awro-bottom"></div>
    <div class="form-flex ff-right">
      <form [formGroup]="registerFormGroup" [ngStyle]="{'opacity':  currentStage == 1 ? '1' : '0.3'}">
        <i class="icon-bg fi fi-sr-id-badge"></i>
        <div class="icon-circle">
          <i class="fi fi-sr-id-badge"></i>
        </div>
        <h4>Authorize</h4>
        <p>Please enter your credentials to proceed</p>
        <div class="input-group input-group-auth-0"
          [ngClass]="{'input-group-focus-forced': registerFormGroup.controls['email'].value}">
          <label for="email">Enter your email</label>
          <input formControlName="email" type="text" (focus)="onFieldFocus(0)" (blur)="onFieldFocus(0)">
        </div>
        <span style="margin-top: -0.5rem;" class="error-message" *ngIf="validateField(registerFormGroup, 'email')">
          Please enter your mail id to proceed
        </span>
        <div class="input-group input-group-auth-1"
          [ngClass]="{'input-group-focus-forced': registerFormGroup.controls['password'].value}">
          <label for="password">Choose a password</label>
          <input formControlName="password" type="text" (focus)="onFieldFocus(1)" (blur)="onFieldFocus(1)">
        </div>
        <span style="margin-top: -0.5rem;" class="error-message" *ngIf="validateField(registerFormGroup, 'password')">
          Please choose a password
        </span>
        <p class="form-link-text">
          Already have an account? <span role="link">Login</span>
        </p>
        <button class="primary-button">
          <div class="pb-text">Next</div>
        </button>
      </form>
      <form [ngStyle]="{'opacity':  currentStage == 2 ? '1' : '0.3'}"></form>
    </div>
    <div class="form-flex ff-left">
      <form [ngStyle]="{'opacity':  currentStage == 3 ? '1' : '0.3'}">
      </form>
      <form [ngStyle]="{'opacity':  currentStage == 4 ? '1' : '0.3'}"></form>
    </div> -->
    <div class="awr-enclosure">
      <h2>Get started!</h2>
      <p>Please provide your credentials to proceed</p>
      <form [formGroup]="registerFormGroup">
        <div class="input-group input-group-auth-0"
          [ngClass]="{'input-group-focus-forced': registerFormGroup.controls['email'].value}">
          <label for="email">Enter your email</label>
          <input formControlName="email" type="text" (focus)="onFieldFocus(0)" (blur)="onFieldFocus(0)">
        </div>
        <span style="margin-top: -0.5rem;" class="error-message" *ngIf="validateField(registerFormGroup, 'email')">
          Please enter your mail id to proceed
        </span>
        <div class="input-group input-group-auth-1"
          [ngClass]="{'input-group-focus-forced': registerFormGroup.controls['password'].value}">
          <label for="password">Choose a password</label>
          <input formControlName="password" type="text" (focus)="onFieldFocus(1)" (blur)="onFieldFocus(1)">
        </div>
        <span style="margin-top: -0.5rem;" class="error-message" *ngIf="validateField(registerFormGroup, 'password')">
          Please choose a password
        </span>
        <div class="checkbox-group">
          <div class="custom-checkbox" role="checkbox" [ngClass]="{'inactive-checkbox': !true}">
            <div class="checkbox-ball"></div>
          </div>
          <p>Stay signed in?</p>
        </div>
      </form>
      <p class="form-link-text">
        Already have an account? <span role="link">Login</span>
      </p>
      <button class="primary-button">
        <div class="pb-text">Next</div>
      </button>
    </div>
  </div>
</section>
