.authorization-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  color: var(--light-text-1);
  background: var(--bg-1);
  position: relative;

  .aw-left,
  .aw-left {
    width: 100%;
    height: 100%;
  }

  .aw-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5rem;
    background: var(--bg-2);
    position: relative;

    .logo-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      i {
        color: var(--theme-var-1);
        font-size: 2rem;
      }

      h4 {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }

    form,
    .signup-container {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0rem;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 0 10rem;

      .title-flex {
        padding-left: 0.5rem;
        margin-bottom: 2rem;
        width: 100%;

        h1 {
          font-size: 3.2rem;
          font-weight: 600;
          text-align: left;
        }

        h3 {
          font-size: 1.4rem;
          font-weight: 400;
          opacity: 0.8;
          margin-top: 0.5rem;
        }
      }

      .button-flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;

        &>p {
          font-size: 1.4rem;
          font-weight: 400;

          span {
            color: var(--theme-var-1);
          }
        }
      }
    }

    .signup-container {
      .account-stages-flex {
        width: 100%;
        height: 6rem;
        border-radius: 5px;
        border: 1px solid var(--border-1);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: var(--bg-1);

        .account-stage-box {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          .icon-holder {
            width: 3.5rem;
            height: 3.5rem;
            background: transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .checked {
              display: none;
            }

            i {
              font-size: 1.8rem;
            }
          }

          .stage-detail-flex {
            display: none;
          }
        }

        .active-stage {
          .icon-holder {
            background: var(--theme-var-1);
            box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.05);
          }

          .stage-detail-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            p {
              font-size: 1.1rem;
              font-weight: 700;
              color: var(--theme-var-1);
            }

            h5 {
              font-size: 1.2rem;
              font-weight: 700;
            }
          }
        }

        .completed-stage {
          .icon-holder {
            background: var(--theme-var-1-dimmed);

            i {
              color: var(--theme-var-1);
            }

            .checked {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: var(--theme-var-1);
              position: absolute;
              top: 0;
              right: 0;

              i {
                font-size: 5px;
                color: var(--light-text-1);
              }
            }
          }
        }

        .divider {
          width: 1px;
          height: 50%;
          background: var(--form-border-inactive);
        }
      }
    }
  }

  .aw-right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5rem;

    h1 {
      font-size: 3rem;
      font-weight: 300;
      max-width: 70%;

      &>span {
        display: inline-block;
        position: relative;
        padding: 0 1rem;
        margin-bottom: 1rem;

        span {
          position: relative;
          z-index: 2;
        }

        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) skewX(-10deg);
          z-index: 0;
          background-color: #0093E9;
          background-image: linear-gradient(160deg, var(--theme-var-1) 0%, #80D0C7 100%);
        }
      }
    }

    img {
      max-width: 65vw;
      border-radius: 2rem;
      border: 10px solid var(--border-1);
      position: absolute;
      top: 70%;
      transform: translateY(-50%);
      right: -20rem;
      box-shadow: -10px -10px 50px rgba($color: #000000, $alpha: 0.8);
      z-index: 2;
    }
  }
}
