.authorization-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: #fff;
  background: var(--bg-1);
  position: relative;

  .aw-left,
  .aw-left {
    width: 100%;
    height: 100%;
  }

  .aw-left {
    padding: 3rem;

    .awl-enclosure {
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      background: var(--theme-var-1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 3rem;
      position: relative;

      .paginator {
        height: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%, -50%);

        .page-index {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 5rem;
          background: var(--light-text-1);
          opacity: 0.6;
          transition: all 300ms ease-out;
        }

        .active-index {
          width: 2rem;
          opacity: 1;
        }
      }

      h5 {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .awl-content-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        grid-gap: 3rem;
        height: 80%;
        position: relative;

        h1 {
          font-size: 4rem;
          font-weight: 500;
          line-height: 1.2;
        }

        h4 {
          font-size: 1.8rem;
          font-weight: 300;
        }
      }
    }
  }

  .aw-right {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    position: relative;
    overflow: hidden;
    gap: 2rem;

    .form-flex {
      width: 40rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 1;
      gap: 2rem;

      form {
        width: 100%;
        min-height: 42rem;
        border-radius: 1.5rem;
        background: var(--bg-2);
        border: 1px solid var(--border-1);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        gap: 1rem;

        .icon-circle {
          width: 4rem;
          height: 4rem;
          border-radius: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--theme-var-1);
          margin: 1rem 0;

          i {
            font-size: 1.6rem;
          }
        }

        h4 {
          font-size: 1.8rem;
          font-weight: 500;
          margin-top: -1rem;
        }

        p {
          font-size: 1.4rem;
          font-weight: 400;
          opacity: 0.75;
          margin-top: -0.5rem;
          margin-bottom: 1rem;
        }

        .primary-button {
          width: calc(100% - 4rem);
          height: 5rem;
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .ff-right {
      padding-top: calc(50vh - 21rem);
    }

    .ff-left {
      padding-top: calc(50vh);
    }

    .awr-overlay {
      position: absolute;
      left: 0;
      width: 100%;
      height: 7rem;
      z-index: 2;
    }

    .awro-top {
      top: 0;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(21, 22, 26, 1) 100%);
    }

    .awro-bottom {
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(21, 22, 26, 1) 100%);
    }
  }
}
