<div class="board-settings_component">
  <div class="settings-top">
    <h1>Board Settings</h1>
    <div class="settings-search-container">
      <i class="fi fi-rr-search"></i>
      <input type="text" placeholder="Search settings here">
    </div>
  </div>
  <div class="settings-main-flex" style="margin-top: 3rem;">
    <div class="setting-l1-enclosure">
      <div class="sl1e-left">
        <h5>Personal info</h5>
        <p>Changes will be applied to your name, designation and role.</p>
      </div>
      <div class="sl1e-right">
      </div>
    </div>
  </div>
</div>
