.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 8;
  opacity: 0;
  backdrop-filter: blur(0px);
  animation: blurAnimate 500ms forwards ease;
}

@keyframes blurAnimate {
  0% {
    opacity: 0;
    backdrop-filter: blur(0px);
  }

  100% {
    opacity: 1;
    backdrop-filter: blur(5px);
  }
}
