<section class="sidebar_section">

  <!-- Sidebar top template -->
  <div class="ss_top">
    <div class="sst_profile-search">
      <div class="profile-flex">
        <div class="image-circle">
          <img src="https://i.pravatar.cc/500?img=34" alt="">
        </div>
        <div class="profile-content-flex">
          <h5>Yashwanth</h5>
          <p>Software Developer</p>
        </div>
      </div>
      <div class="action-flex">
        <div class="mini-icon">
          <i class="fi fi-rr-sign-out-alt"></i>
        </div>
        <div class="mini-icon">
          <i class="fi fi-rr-user"></i>
        </div>
      </div>
    </div>
    <div class="sst_app-search">
      <i class="fi fi-rr-search"></i>
      <input type="text" placeholder="Search boards here...">
    </div>
  </div>

  <!-- Sidebar middle template -->
  <div class="ss_middle">
    <p class="ss_side-text">Overview</p>

    <!-- Sidebar pills -->
    <div class="sidebar-pill">
      <div class="pill-left">
        <i class="fi fi-rr-apps"></i>
        <p>Dashboard</p>
      </div>
      <i class="fi active-dot fi-ss-dot-circle"></i>
    </div>

    <!-- Dashboard team info -->
    <div class="team-info-flex">
      <div class="team-dropdown">
        <i class="fi fi-rr-folder-open"></i>
        <p>Compilers Clan</p>
        <i class="fi dropdown-icon fi-br-angle-up"></i>
      </div>
      <div class="boards-info-flex">
        <div class="board-flex">
          <i style="color: #f48c7d;" class="fi fi-br-circle"></i>
          <p>Yashwanth's board</p>
        </div>
      </div>
    </div>

    <!-- Personal boards info -->
    <div class="boards-info-flex" style="padding-bottom: 1rem;">
      <div class="board-flex">
        <i style="color: #24c3a9;" class="fi fi-rr-triangle"></i>
        <p>My personal board</p>
      </div>
      <div style="color: var(--theme-var-1);" class="board-flex">
        <i class="fi fi-br-plus"></i>
        <p style="font-weight: 500;">Create new board</p>
      </div>
    </div>
    <div class="sidebar-pill">
      <div class="pill-left">
        <i class="fi fi-rr-bolt"></i>
        <p>Timesheet Automate</p>
      </div>
    </div>
    <div class="sidebar-pill">
      <div class="pill-left">
        <i class="fi fi-rr-volleyball"></i>
        <p>Team</p>
      </div>
      <div class="team-members-short-flex">
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=20">
        </div>
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=30">
        </div>
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=40">
        </div>
        <div class="mini-image-circle number-circle">
          <p>+9</p>
        </div>
      </div>
    </div>
    <div class="sidebar-pill">
      <div class="pill-left">
        <i class="fi fi-rr-chart-pie"></i>
        <p>Activities</p>
      </div>
      <span class="spactivity-sinfo">New</span>
    </div>
    <div class="sidebar-pill">
      <div class="pill-left">
        <i class="fi fi-rr-settings"></i>
        <p>Settings</p>
      </div>
      <span class="spsetting-warn-sinfo"><i class="fi fi-rr-info"></i></span>
    </div>
  </div>

  <!-- Sidebar bottom template -->
  <div class="ss_bottom">
    <p class="ss_side-text">Onboarding</p>

    <!-- Onboarding flex -->
    <div class="bottom-options-flex">
      <div class="ob-icons-flex">
        <span class="active-ob">
          <i class="fi fi-rr-apps"></i>
        </span>
        <span>
          <i class="fi fi-rr-bolt"></i>
        </span>
        <span>
          <i class="fi fi-rr-volleyball"></i>
        </span>
        <span>
          <i class="fi fi-rr-chart-pie"></i>
        </span>
      </div>
      <div class="theme-switcher">
        <div class="active-roller"></div>
        <div class="icon-flex">
          <i class="fi fi-rr-brightness"></i>
        </div>
        <div class="icon-flex">
          <i class="fi fi-sr-moon"></i>
        </div>
      </div>
    </div>

    <div class="join-team-flex" (click)="this.appControlService.showJoinTeam = true;">
      <div class="join-button" role="button">
        <i class="fi fi-rr-link-alt"></i>
      </div>
      <h5>Join a team</h5>
    </div>
  </div>
</section>

<app-join-team *ngIf="appControlService.showJoinTeam"></app-join-team>
<app-new-board *ngIf="appControlService.showNewBoard"></app-new-board>
