<section class="sidebar_section">
  <!-- Sidebar top template -->
  <div class="ss_top">
    <div class="sst_profile-search">
      <div class="profile-flex">
        <div class="image-circle">
          <img
            src="{{
              dataService.getConfig().baseApiUrl + userObj.profile_picture_path
            }}"
            *ngIf="userObj.profile_picture_path"
          />
          <div class="no-image-ph" *ngIf="!userObj.profile_picture_path">
            <h3>{{ getMiniUserName(userObj.name) }}</h3>
          </div>
        </div>
        <div class="profile-content-flex">
          <h5>{{ userObj.name }}</h5>
          <p>{{ userObj.designation }}</p>
        </div>
      </div>
      <div class="action-flex">
        <div class="mini-icon">
          <i class="fi fi-rr-sign-out-alt"></i>
        </div>
      </div>
    </div>
    <div class="sst_app-search">
      <i class="fi fi-rr-search"></i>
      <input type="text" placeholder="Search boards here..." />
    </div>
  </div>

  <!-- Sidebar middle template -->
  <div class="ss_middle">
    <p class="ss_side-text">Overview</p>

    <!-- Sidebar pills -->
    <div
      class="sidebar-pill"
      role="link"
      routerLink="/"
      routerLinkActive="active-sidebar"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="pill-left">
        <i class="fi fi-rr-apps"></i>
        <p>Dashboard</p>
      </div>
      <i class="fi active-dot fi-ss-dot-circle"></i>
    </div>

    <!-- Dashboard team info -->
    <ng-container *ngFor="let board of dataService.boards; let i = index">
      <div
        class="team-info-flex"
        *ngIf="board.linked_team && dataService.myInvolvedTeams?.length"
      >
        <div
          class="team-dropdown"
          [ngClass]="{
            'active-team': dataService.selectedBoard?.linked_team?.includes(
              board.linked_team
            )
          }"
        >
          <i class="fi fi-rr-folder-open"></i>
          <p>{{ dataService.getTeamInfo(board.linked_team).name }}</p>
          <i class="fi dropdown-icon fi-br-angle-down"></i>
        </div>
        <div class="boards-info-flex" role="button" (click)="onSelectBoard(board)">
          <div class="board-flex">
            <i style="color: #f48c7d" class="fi fi-br-circle"></i>
            <p>{{ board.name }}</p>
          </div>
        </div>
      </div>

      <!-- Personal boards info -->
      <div
        class="boards-info-flex"
        style="padding-bottom: 1rem"
        *ngIf="!board.linked_team"
        [ngStyle]="{
          'margin-top': i == 0 ? '0.75rem' : '',
          'margin-bottom': i == 0 ? '-1rem' : '0'
        }"
      >
        <div class="board-flex" role="button" (click)="onSelectBoard(board)">
          <i style="color: #24c3a9" class="fi fi-rr-triangle"></i>
          <p>{{ board.name }}</p>
        </div>
      </div>
    </ng-container>
    <div class="boards-info-flex" *ngIf="dataService.boards.length">
      <div
        class="board-flex"
        (click)="this.appControlService.showNewBoard = true"
        style="margin-bottom: 0.75rem; color: var(--theme-var-1)"
        role="button"
      >
        <i class="fi fi-br-plus"></i>
        <p style="font-weight: 500">Create new board</p>
      </div>
    </div>

    <div
      class="sidebar-pill"
      role="link"
      routerLink="/timesheet"
      routerLinkActive="active-sidebar"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <div class="pill-left">
        <i class="fi fi-rr-bolt"></i>
        <p>Timesheet Companion</p>
      </div>
    </div>
    <div
      class="sidebar-pill"
      role="link"
      routerLink="/team"
      routerLinkActive="active-sidebar"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <div class="pill-left">
        <i class="fi fi-rr-volleyball"></i>
        <p>Team</p>
      </div>
      <div class="team-members-short-flex">
        <div style="margin-right: -0.5rem" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=20" />
        </div>
        <div style="margin-right: -0.5rem" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=30" />
        </div>
        <div style="margin-right: -0.5rem" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=40" />
        </div>
        <div class="mini-image-circle number-circle">
          <p>+9</p>
        </div>
      </div>
    </div>
    <div class="sidebar-pill">
      <div class="pill-left">
        <i class="fi fi-rr-chart-pie"></i>
        <p>Activities</p>
      </div>
      <span class="spactivity-sinfo">New</span>
    </div>
    <div
      class="sidebar-pill"
      role="link"
      routerLink="/settings"
      routerLinkActive="active-sidebar"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <div class="pill-left">
        <i class="fi fi-rr-settings"></i>
        <p>Settings</p>
      </div>
      <span class="spsetting-warn-sinfo"><i class="fi fi-rr-info"></i></span>
    </div>
  </div>

  <!-- Sidebar bottom template -->
  <div class="ss_bottom">
    <p class="ss_side-text">Onboarding</p>

    <!-- Onboarding flex -->
    <div class="bottom-options-flex">
      <div class="ob-icons-flex">
        <span class="active-ob">
          <i class="fi fi-rr-apps"></i>
        </span>
        <span>
          <i class="fi fi-rr-bolt"></i>
        </span>
        <span>
          <i class="fi fi-rr-volleyball"></i>
        </span>
        <span>
          <i class="fi fi-rr-chart-pie"></i>
        </span>
      </div>
      <div class="theme-switcher">
        <div class="active-roller"></div>
        <div class="icon-flex">
          <i class="fi fi-rr-brightness"></i>
        </div>
        <div class="icon-flex">
          <i class="fi fi-sr-moon"></i>
        </div>
      </div>
    </div>

    <div
      class="join-team-flex"
      (click)="this.appControlService.showJoinTeam = true"
    >
      <div class="join-button" role="button">
        <i class="fi fi-rr-link-alt"></i>
      </div>
      <h5>Join a team</h5>
    </div>
  </div>
</section>

<app-join-team *ngIf="appControlService.showJoinTeam"></app-join-team>
<app-new-board *ngIf="appControlService.showNewBoard"></app-new-board>
