<section class="dashboard_section">
  <div class="ds-top">
    <div class="board-info">
      <div class="branched-board">
        <div class="branch-box"></div>
        <p>Yashwanth's board</p>
      </div>
      <i style="color: #f48c7d;" class="fi fi-br-circle"></i>
      <h3>Compilers Clan</h3>
      <div class="team-members-short-flex">
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=20">
        </div>
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=30">
        </div>
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=40">
        </div>
        <div class="mini-image-circle number-circle">
          <p>+9</p>
        </div>
      </div>
      <div class="invite-user-button" role="button">
        <i class="fi fi-rr-plus-small"></i>
      </div>
    </div>
    <div class="app-utilities">
      <div class="task-search-container">
        <i class="fi fi-rr-search"></i>
        <input type="text" placeholder="Search tasks here">
      </div>
      <div class="medium-button" role="button">
        <i class="fi fi-rr-bell"></i>
        <div class="bell"></div>
      </div>
      <div class="medium-button" role="button">
        <i class="fi fi-rr-file-download"></i>
      </div>
      <div class="link-sharer">
        <h5>Share</h5>
        <h5 class="link-option" role="button">
          <span>Link</span>
          <i class="fi fi-rr-angle-down"></i>
        </h5>
      </div>
    </div>
  </div>
  <div class="ds-top-middle">
    <div class="dstm-left">
      <div class="format-switcher">
        <h5 class="link-option" role="button">
          <span>Timeline</span>
        </h5>
        <h5 role="button">
          <span>Table</span>
        </h5>
        <h5 role="button">
          <span>Blocks</span>
        </h5>
      </div>
      <div class="duration-switcher">
        <h5 role="button">
          <span>Last week</span>
          <i class="fi fi-rr-angle-down"></i>
        </h5>
      </div>
    </div>
    <div class="dstm-right">
      <div class="last-edited-by">
        <h5><i class="fi fi-rr-edit"></i><span>20 minutes ago</span></h5>
        <div class="editor-flex">
          <img src="https://i.pravatar.cc/150?img=25" alt="">
          <h5>Yashwanth</h5>
        </div>
      </div>
      <div class="month-year-flex">
        <i class="fi fi-rr-angle-small-left"></i>
        <h3>Nov, <span>2023</span></h3>
        <i class="fi fi-rr-angle-small-right"></i>
      </div>
    </div>
  </div>
  <div class="ds-middle">
    <div class="sheet-enclosure">
      <div class="day-flex">
        <div class="day-box">
          <h5>Mo<span>01</span></h5>
        </div>
        <div class="day-box active-day">
          <h5>Tu<span>02</span></h5>
        </div>
        <div class="day-box">
          <h5>We<span>03</span></h5>
        </div>
        <div class="day-box">
          <h5>Th<span>04</span></h5>
        </div>
        <div class="day-box">
          <h5>Fr<span>05</span></h5>
        </div>
        <div class="day-box">
          <h5>Sa<span>06</span></h5>
        </div>
        <div class="day-box">
          <h5>Su<span>07</span></h5>
        </div>
        <div class="day-box">
          <h5>Mo<span>01</span></h5>
        </div>
        <div class="day-box">
          <h5>Tu<span>02</span></h5>
        </div>
        <div class="day-box">
          <h5>We<span>03</span></h5>
        </div>
        <div class="day-box">
          <h5>Th<span>04</span></h5>
        </div>
        <div class="day-box">
          <h5>Fr<span>05</span></h5>
        </div>
        <div class="day-box">
          <h5>Sa<span>06</span></h5>
        </div>
        <div class="day-box">
          <h5>Su<span>07</span></h5>
        </div>
        <div class="day-box">
          <h5>Th<span>04</span></h5>
        </div>
        <div class="day-box">
          <h5>Fr<span>05</span></h5>
        </div>
        <div class="day-box">
          <h5>Sa<span>06</span></h5>
        </div>
        <div class="day-box">
          <h5>Su<span>07</span></h5>
        </div>
      </div>
      <div class="sheet-enclosure-1">
        <div class="time-flex">
          <div class="time-box">
            <p>10:00 AM</p>
          </div>
          <div class="time-box">
            <p>11:00 AM</p>
          </div>
          <div class="time-box">
            <p>12:00 AM</p>
          </div>
          <div class="time-box">
            <p>13:00 AM</p>
          </div>
          <div class="time-box">
            <p>14:00 AM</p>
          </div>
          <div class="time-box">
            <p>15:00 AM</p>
          </div>
          <div class="time-box">
            <p>16:00 AM</p>
          </div>
          <div class="time-box">
            <p>17:00 AM</p>
          </div>
          <div class="time-box">
            <p>18:00 AM</p>
          </div>
          <div class="time-box">
            <p>19:00 AM</p>
          </div>
        </div>
        <div class="sheet-enclosure-2">
          <div class="task-enclosure">
            <div class="task-bar">
              <div class="color-flag" style="background: #ffe27c;"></div>
              <div class="tb-top">
                <div class="task-info-flex">
                  <img src="assets/images/common/bug.svg" alt="">
                  <p>VIVR : When file upload path in proxy is incorrect or empty while customer is on chat with agent,
                    and if path is corrected, multi-media attachments are showing in the chat even if customer did not
                    click Send</p>
                </div>
              </div>
              <div class="tb-middle">
                <div class="time-taken">
                  <i class="fi fi-sr-clock-five"></i>
                  <p>2h 01m</p>
                </div>
                <span class="status">Fixed</span>
                <p class="priority low">
                  <i class="fi fi-br-angle-down"></i>
                  <span>Low</span>
                </p>
              </div>
              <div class="tb-bottom">
                <div class="task-category">
                  <img src="assets/images/common/jira.svg" alt="">
                  <h5>Jira</h5>
                </div>
              </div>
              <i class="newtab fi fi-rr-arrow-up-right-from-square"></i>
            </div>
            <div class="task-bg-block" *ngFor="let item of [].constructor(10)"></div>
          </div>
          <div class="task-enclosure">
            <div style="left: 20%; width: 30%;" class="task-bar todo-bar">
              <div class="color-flag" style="background: #ff7edb;"></div>
              <div class="tb-top">
                <div class="task-info-flex">
                  <img src="assets/images/common/todo.svg" alt="">
                  <p>Visual IVR AV Call Layout Redesigning - Planning and Sub-tasks</p>
                </div>
              </div>
              <div class="tb-middle">
                <div class="time-taken">
                  <i class="fi fi-sr-clock-five"></i>
                  <p>3h 01m</p>
                </div>
                <p class="priority critical">
                  <i class="fi fi-sr-minus-circle"></i>
                  <span>Critical</span>
                </p>
              </div>
              <div class="tb-bottom">
                <div class="task-progress">
                  <div class="progress-bar">
                    <div class="progress-bar-active"></div>
                  </div>
                  <h5>3/5</h5>
                </div>
              </div>
              <i class="newtab fi fi-rr-arrow-up-right-from-square"></i>
            </div>
            <div class="task-bg-block" *ngFor="let item of [].constructor(10)"></div>
          </div>
          <div class="task-enclosure">
            <div style="left: 50%;" class="task-bar teams-bar">
              <div class="color-flag" style="background: #7da9ff;"></div>
              <div class="tb-top">
                <div class="task-info-flex">
                  <img src="assets/images/common/call.svg" alt="">
                  <p>Visual IVR issue discussion with poornachandra</p>
                </div>
              </div>
              <div class="tb-middle">
                <div class="time-taken">
                  <i class="fi fi-sr-clock-five"></i>
                  <p>2h 01m</p>
                </div>
                <div class="members-flex">
                  <img src="https://i.pravatar.cc/150?img=20" alt="">
                  <img src="https://i.pravatar.cc/150?img=30" alt="">
                  <img src="https://i.pravatar.cc/150?img=40" alt="">
                  <img src="https://i.pravatar.cc/150?img=50" alt="">
                </div>
                <p class="priority critical">
                  <i class="fi fi-sr-minus-circle"></i>
                  <span>Critical</span>
                </p>
              </div>
              <div class="tb-bottom">
                <div class="task-category">
                  <img src="assets/images/common/msteams.svg" alt="">
                  <h5>Teams</h5>
                </div>
              </div>
            </div>
            <div class="task-bg-block" *ngFor="let item of [].constructor(10)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ds-bottom-middle">
    <div class="dsbm-left">
      <div class="util-button">
        <h5 role="button">
          <i class="fi fi-br-bars-filter"></i>
          <span>Filter</span>
        </h5>
      </div>
      <div class="color-flex">
        <p>Color:</p>
        <div class="color-bubble" style="background: #ffe27c;"></div>
        <div class="color-bubble" style="background: #7da9ff;"></div>
        <div class="color-bubble" style="background: #f48c7d;"></div>
        <div class="color-bubble" style="background: #ff7edb;"></div>
      </div>
      <div class="util-button" style="background: transparent;">
        <h5 role="button">
          <i style="font-size: 1.6rem;" class="fi fi-rr-note"></i>
          <span>Add a task</span>
        </h5>
      </div>
    </div>
    <div class="dsbm-right">
      <div class="util-button">
        <h5 role="button">
          <i class="fi fi-rr-trash"></i>
          <span>Delted</span>
          <span class="count">5</span>
        </h5>
      </div>
    </div>
  </div>
  <div class="ds-bottom">
    <div class="weekly-insights">
      <div class="title-flex">
        <h4>Weekly Insights</h4>
        <h5>01 Nov - 07 Nov</h5>
      </div>
      <div class="wi-container">
        <div class="time-switcher">
          <i class="fi fi-rr-calendar-day"></i>
          <p>Last week</p>
        </div>
        <div class="wi-analytic-label">
          <div class="duration-task-flex">
            <div class="wia-dt">
              <p>Time spent</p>
              <h5>47h <span class="up"><i class="fi fi-sr-arrow-trend-up"></i>12%</span></h5>
            </div>
            <div class="wia-dt">
              <p>Tasks</p>
              <h5>10 <span class="down"><i class="fi fi-sr-arrow-trend-down"></i>30%</span></h5>
            </div>
          </div>
          <div class="task-category-flex">
            <div class="wia-tc">
              <i style="color: #7da9ff;" class="fi fi-ss-bullet"></i>
              <h5>PRODQA</h5>
              <p>4</p>
            </div>
            <div class="wia-tc">
              <i style="color: #f48c7d;" class="fi fi-ss-bullet"></i>
              <h5>ENGQA</h5>
              <p>2</p>
            </div>
            <div class="wia-tc">
              <i style="color: #ffe27c;" class="fi fi-ss-bullet"></i>
              <h5>PQ</h5>
              <p>3</p>
            </div>
            <div class="wia-tc">
              <i style="color: #ff7edb;" class="fi fi-ss-bullet"></i>
              <h5>PB</h5>
              <p>1</p>
            </div>
          </div>
        </div>
        <div class="wi-analytic-chart">
          <div class="wic wic-yaxis">
            <p>10</p>
            <p>8</p>
            <p>6</p>
            <p>4</p>
            <p>2</p>
            <p>0</p>
            <p>&nbsp;</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay">
            </div>
            <p>Su</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay">
              <div class="wb-active" style="height: 10%; bottom: 0; background: #7da9ff;"></div>
              <div class="wb-active" style="height: 40%; bottom: 10%; background: #f48c7d;"></div>
              <div class="wb-active" style="height: 30%; bottom: 50%; background: #ff7edb;"></div>
            </div>
            <p>Mo</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay">
              <div class="wb-active" style="height: 20%; bottom: 0; background: #7da9ff;"></div>
              <div class="wb-active" style="height: 30%; bottom: 20%; background: #f48c7d;"></div>
              <div class="wb-active" style="height: 15%; bottom: 50%; background: #ff7edb;"></div>
            </div>
            <p>Tu</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay">
              <div class="wb-active" style="height: 55%; bottom: 0; background: #7da9ff;"></div>
              <div class="wb-active" style="height: 15%; bottom: 55%; background: #f48c7d;"></div>
              <div class="wb-active" style="height: 20%; bottom: 70%; background: #ff7edb;"></div>
            </div>
            <p>We</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay">
              <div class="wb-active" style="height: 10%; bottom: 0; background: #7da9ff;"></div>
              <div class="wb-active" style="height: 40%; bottom: 10%; background: #f48c7d;"></div>
              <div class="wb-active" style="height: 30%; bottom: 50%; background: #ff7edb;"></div>
            </div>
            <p>Th</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay">
              <div class="wb-active" style="height: 10%; bottom: 0; background: #7da9ff;"></div>
              <div class="wb-active" style="height: 40%; bottom: 10%; background: #f48c7d;"></div>
              <div class="wb-active" style="height: 30%; bottom: 50%; background: #ff7edb;"></div>
            </div>
            <p>Fr</p>
          </div>
          <div class="wic wic-bar">
            <div class="wic-bar-overlay"></div>
            <p>Sa</p>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-log">
      <div class="title-flex">
        <h4>Yashwanth's Projects</h4>
        <h5>4 Active Projects</h5>
      </div>
      <div class="projects-container">
        <div class="project-comp">
          <div class="project-name">
            <i style="color: #7da9ff;" class="fi fi-ss-bullet"></i>
            <p>PRODUCT QA</p>
          </div>
          <div class="total-issues">
            <p>Total issues</p>
            <h3>356</h3>
          </div>
          <div class="project-stats-flex">
            <p>Active</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 35%;" class="stat-active"></div>
              </div>
              <p>35%</p>
            </div>
            <p>Completed</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 65%; left: unset; right: 0;" class="stat-active"></div>
              </div>
              <p>65%</p>
            </div>
          </div>
        </div>
        <div class="project-comp">
          <div class="project-name">
            <i style="color: #f48c7d;" class="fi fi-ss-bullet"></i>
            <p>ENGINEERING QA</p>
          </div>
          <div class="total-issues">
            <p>Total issues</p>
            <h3>128</h3>
          </div>
          <div class="project-stats-flex">
            <p>Active</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 18%;" class="stat-active"></div>
              </div>
              <p>18%</p>
            </div>
            <p>Completed</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 56%; left: unset; right: 0;" class="stat-active"></div>
              </div>
              <p>56%</p>
            </div>
          </div>
        </div>
        <div class="project-comp">
          <div class="project-name">
            <i style="color: #ff7edb;" class="fi fi-ss-bullet"></i>
            <p>PRODUCT BACKLOGS</p>
          </div>
          <div class="total-issues">
            <p>Total issues</p>
            <h3>24</h3>
          </div>
          <div class="project-stats-flex">
            <p>Active</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 90%;" class="stat-active"></div>
              </div>
              <p>90%</p>
            </div>
            <p>Completed</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 10%; left: unset; right: 0;" class="stat-active"></div>
              </div>
              <p>10%</p>
            </div>
          </div>
        </div>
        <div class="project-comp">
          <div class="project-name">
            <i style="color: #ffe27c;" class="fi fi-ss-bullet"></i>
            <p>PROJECT QA</p>
          </div>
          <div class="total-issues">
            <p>Total issues</p>
            <h3>880</h3>
          </div>
          <div class="project-stats-flex">
            <p>Active</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 46%;" class="stat-active"></div>
              </div>
              <p>46%</p>
            </div>
            <p>Completed</p>
            <div class="stat-bar-flex">
              <div class="stat-bar-overlay">
                <div style="width: 54%; left: unset; right: 0;" class="stat-active"></div>
              </div>
              <p>54%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-share></app-share>
</section>
