.dashboard_section {
  width: calc(100vw - 35rem);
  height: 100vh;
  overflow: scroll;
  position: relative;
  background: var(--bg-1);
  color: var(--light-text-1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3rem;

  .ds-top,
  .ds-top-middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .branched-board {
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 1rem;
      left: 0.85rem;
      top: 4rem;

      .branch-box {
        width: 2.5rem;
        height: 3.5rem;
        border-bottom-left-radius: 1.5rem;
        border-left: 3px solid var(--light-text-1);
        border-bottom: 3px solid var(--light-text-1);
        opacity: 0.5;
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: -0.5rem;
      }
    }

    .board-info,
    .app-utilities {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;

      i {
        font-size: 2rem;
      }

      h3 {
        font-size: 2.6rem;
        font-weight: 400;
      }

      .team-members-short-flex {
        scale: 1.3;
        margin-left: 2rem;
      }
    }

    .app-utilities {
      gap: 2rem;

      .task-search-container {
        width: 40rem;
        height: 5.5rem;
        border-radius: 5rem;
        background: var(--bg-2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

        i {
          font-size: 2rem;
        }

        input {
          width: 100%;
          height: 100%;
          background: transparent;
          outline: none;
          border: none;
          padding: 0 2rem;
          font-family: inherit;
          font-weight: 300;
          font-size: 1.4rem;
          color: inherit;

          &::placeholder {
            font-family: inherit;
            font-weight: 300;
            font-size: 1.4rem;
            color: inherit;
            opacity: 0.5;
          }
        }
      }

      .medium-button {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 1.5rem;
        background: var(--bg-2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        .bell {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #ffe27c;
          position: absolute;
          top: 0;
          right: -0.2rem;
        }
      }

      .link-sharer {
        width: 20rem;
        height: 5.5rem;
        border-radius: 1.5rem;
        background: var(--bg-2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

        h5 {
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          i {
            font-size: 1.1rem;
          }
        }

        .link-option {
          border-radius: 1.5rem;
          background: var(--bg-1);
          cursor: pointer;
        }
      }
    }
  }

  .ds-top-middle {
    margin-top: 5rem;

    .dstm-left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      .format-switcher,
      .duration-switcher {
        width: 35rem;
        height: 5.5rem;
        border-radius: 1.5rem;
        background: var(--bg-2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

        h5 {
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          i {
            font-size: 1.1rem;
          }
        }

        .link-option {
          border-radius: 1.5rem;
          background: var(--bg-1);
        }
      }

      .duration-switcher {
        width: unset;
        min-width: 12.5rem;
        padding: 0 3rem;
      }
    }

    .dstm-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .last-edited-by,
      .month-year-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        i {
          font-size: 2rem;
        }

        h3 {
          font-size: 2.4rem;
          font-weight: 400;

          span {
            opacity: 0.3;
          }
        }

        h5 {
          font-size: 1.4rem;
          font-weight: 400;
          color: var(--theme-var-1);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          i {
            font-size: 1.8rem;
          }
        }

        .editor-flex {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          cursor: pointer;

          img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
          }

          h5 {
            color: var(--light-text-1);
          }
        }
      }
    }
  }

  .ds-middle {
    width: 100%;
    margin-top: 2rem;

    .time-column {
      position: absolute;
      left: 0rem;
      width: 10rem;
      height: 100%;
      top: 0;

      .offset-box {
        width: 100%;
        height: 7rem;
      }

      .time-block-flex {
        width: 100%;
        height: calc(100% - 8rem);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        overflow: scroll;
        gap: 8rem;

        p {
          font-size: 1.6rem;
          font-weight: 400;
          padding-right: 3rem;
          height: 1rem;
          margin-top: -1rem;
        }

        .active-time {
          color: var(--theme-var-1);
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .sheet-enclosure {
      width: 100%;
      height: 50rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.25rem;
      border-radius: 1rem;
      border: 2px solid var(--border-1);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .day-flex {
        width: 100%;
        height: 5rem;
        overflow-x: scroll;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: var(--bg-2);
        opacity: 0.8;

        .day-box {
          height: 100%;
          min-width: 10rem;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          h5 {
            font-size: 1.6rem;
            font-weight: 400;

            span {
              opacity: 0.5;
            }
          }
        }

        .active-day {
          background: var(--theme-var-1-dimmed);

          h5 {
            color: var(--theme-var-1);

            span {
              color: var(--light-text-1);
              opacity: 1;
            }
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .sheet-enclosure-1 {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.25rem;

        .time-flex {
          width: 100%;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .time-box {
            min-width: calc(100% / 8);
            width: calc(100% / 8);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bg-2);
            border-right: 2.5px solid var(--bg-1);

            p {
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
        }

        .sheet-enclosure-2 {
          width: calc(calc(100% / 8) * 10);
          height: 100%;
          overflow: scroll;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          app-taskbar{
            width: 100%;
            min-height: 8rem;
          }

          &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 50px;
            background: var(--theme-var-1);
          }
        }

        &::-webkit-scrollbar {
          width: 3px;
          height: 3px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 50px;
          background: var(--theme-var-1);
        }
      }
    }
  }

  .ds-bottom-middle {
    width: 100%;
    background: var(--bg-2);
    min-height: 5.5rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dsbm-left,
    .dsbm-right {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      height: 100%;

      .util-button {
        height: 100%;
        border-radius: 1rem;
        background: var(--bg-1);
        padding: 0 2rem;
        cursor: pointer;

        h5 {
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          i {
            font-size: 1.1rem;
            margin-top: 0.2rem;
          }
        }
      }

      .color-flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        p {
          font-size: 1.4rem;
          font-weight: 400;
          opacity: 0.7;
          margin-right: 1rem;
        }

        .color-bubble {
          width: 3rem;
          height: 3rem;
          border-radius: 5rem;
        }
      }
    }

    .dsbm-right {
      .util-button {
        background: transparent;

        h5 i {
          display: inline-block;
          font-size: 1.6rem;
          color: var(--danger-color-1);
        }

        h5 .count {
          display: inline-block;
          padding: 0.1rem 0.5rem;
          border-radius: 5rem;
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--danger-color-1);
          background: var(--danger-color-1-dimmed);
        }
      }
    }
  }

  .ds-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;

    .weekly-insights,
    .activity-log {
      height: 35rem;
      width: 50rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;

      .title-flex {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;

        h4 {
          font-size: 2rem;
          font-weight: 400;
        }

        h5 {
          font-size: 1.6rem;
          font-weight: 400;
          opacity: 0.6;
          margin-top: 0.2rem;
        }
      }

      .wi-container {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        background: var(--bg-2);
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        position: relative;

        .time-switcher {
          position: absolute;
          top: 2rem;
          right: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          i {
            font-size: 1.4rem;
          }

          p {
            opacity: 0.75;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }

        .wi-analytic-label {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .duration-task-flex,
          .task-category-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;

            .wia-dt {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 0.5rem;
              font-weight: 400;

              p {
                font-size: 1.2rem;
                opacity: 0.6;
              }

              h5 {
                font-size: 1.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                span {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  gap: 0.5rem;
                  padding: 0.1rem 0.5rem;
                  border-radius: 0.5rem;
                  font-size: 1.1rem;
                  font-weight: 500;

                  i {
                    margin-top: 0.3rem;
                  }
                }

                .up {
                  background: var(--theme-var-1-dimmed);
                  color: var(--theme-var-1);
                }

                .down {
                  background: var(--danger-color-1-dimmed);
                  color: var(--danger-color-1);
                }
              }
            }
          }

          .task-category-flex {
            .wia-tc {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 0.5rem;

              i {
                font-size: 1.4rem;
                margin-top: 0.3rem;
              }

              h5,
              p {
                font-size: 1.4rem;
                font-weight: 400;
              }

              p {
                opacity: 0.5;
              }
            }
          }
        }

        .wi-analytic-chart {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          .wic {
            height: 80%;
          }

          .wic-yaxis,
          .wic-bar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            p {
              font-size: 1rem;
              font-weight: 400;
              opacity: 0.5;
              height: calc(100% / 6);
            }
          }

          .wic-bar {
            gap: 10%;

            p {
              opacity: 1;
            }

            .wic-bar-overlay {
              height: 100%;
              width: 3px;
              background: var(--bg-1);
              border-radius: 5rem;
              position: relative;
              overflow: hidden;

              .wb-active {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                border-radius: 5rem;
              }
            }
          }
        }
      }
    }

    .activity-log {
      width: calc(100% - 54rem);

      .projects-container {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        overflow-x: scroll;

        .project-comp {
          height: 100%;
          width: 100%;
          min-width: 20rem;
          border-radius: 1rem;
          background: var(--bg-2);
          padding: 1.5rem;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;

          .project-name {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.5rem;

            i {
              font-size: 2rem;
            }

            p {
              font-size: 1.4rem;
              font-weight: 400;
            }
          }

          .total-issues {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-self: center;

            p {
              font-size: 1.2rem;
              font-weight: 400;
              opacity: 0.75;
            }

            h3 {
              font-size: 4rem;
              font-weight: 900;
            }
          }

          .project-stats-flex {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 1rem;

            p {
              font-size: 1.2rem;
              font-weight: 400;
            }

            .stat-bar-flex {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;

              .stat-bar-overlay {
                width: 100%;
                height: 0.4rem;
                border-radius: 5rem;
                background: var(--bg-1);
                position: relative;
                overflow: hidden;

                .stat-active {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  border-radius: 5rem;
                  background: var(--theme-var-1);
                }
              }

              p {
                font-size: 1.2rem;
                font-weight: 400;
              }
            }
          }
        }

        &::-webkit-scrollbar {
          width: 3px;
          height: 3px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 50px;
          background: var(--theme-var-1);
        }
      }
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--theme-var-1);
  }
}
