<section class="team_section">
  <div class="ts-top">
    <div class="board-info">
      <h3>Compilers Clan</h3>
      <div class="team-members-short-flex">
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=20">
        </div>
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=30">
        </div>
        <div style="margin-right: -0.5rem;" class="mini-image-circle">
          <img src="https://i.pravatar.cc/150?img=40">
        </div>
        <div class="mini-image-circle number-circle">
          <p>+9</p>
        </div>
      </div>
    </div>
    <div class="app-utilities">
      <div class="medium-button notifications-button" (click)="this.appControlService.showNotifications = true;"
        role="button">
        <i class="fi fi-rr-bell"></i>
        <div class="bell"></div>
      </div>
      <div style="pointer-events: none; opacity: 0.3;" class="medium-button export-task-button" role="button"
        (click)="this.appControlService.showTaskExporter = true;">
        <i class="fi fi-rr-file-download"></i>
      </div>
      <div class="link-sharer">
        <h5>Share</h5>
        <h5 class="link-option" role="button" (click)="this.appControlService.showAppShare = true;">
          <span>Link</span>
          <i class="fi fi-rr-angle-down"></i>
        </h5>
      </div>
    </div>
  </div>
  <div class="ts-top-middle">
    <div class="stat-box">
      <i class="overlay-icon fi fi-br-check"></i>
      <div class="sb-title">
        <div class="icon-circle">
          <i class="fi fi-br-check"></i>
        </div>
        <p>Tasks completed</p>
      </div>
      <h1>32</h1>
      <div class="stat-perc inc">
        <i class="fi fi-rr-arrow-trend-up"></i>
        <p><span>2.1%</span> vs last week</p>
      </div>
    </div>
    <div class="stat-box">
      <i class="overlay-icon fi-sr-time-quarter-past"></i>
      <div class="sb-title">
        <div class="icon-circle">
          <i class="fi fi-sr-time-quarter-past"></i>
        </div>
        <p>Hours logged</p>
      </div>
      <h1>256</h1>
      <div class="stat-perc dec">
        <i class="fi fi-rr-arrow-trend-down"></i>
        <p><span>0.5%</span> vs last week</p>
      </div>
    </div>
    <div class="stat-box">
      <i class="overlay-icon fi-br-power"></i>
      <div class="sb-title">
        <div class="icon-circle">
          <i class="fi fi-br-power"></i>
        </div>
        <p>Leaves taken</p>
      </div>
      <h1>02</h1>
      <div class="stat-perc dec">
        <i class="fi fi-rr-arrow-trend-down"></i>
        <p><span>98%</span> vs last week</p>
      </div>
    </div>
    <div class="ovweekly-achiever-flex">
      <ng-lottie [height]="'300px'" [options]="chosenOneAnimation"></ng-lottie>
      <div class="content-flex">
        <h4>Yashwanthkumar, The Chosen One.</h4>
        <p>We congratulate you for working hard so far this week. Your contribution to your team seems quite great.</p>
        <div class="stat-flex-1">
          <div class="stat-box-1">
            <h5>20</h5>
            <p>Tasks</p>
          </div>
          <div class="stat-box-1">
            <h5>40+</h5>
            <p>Hours</p>
          </div>
          <div class="stat-box-1">
            <h5>0</h5>
            <p>Leaves</p>
          </div>
          <img src="https://i.pravatar.cc/50?img=57" alt="">
        </div>
      </div>
    </div>
  </div>

  <app-share *ngIf="appControlService.showAppShare"></app-share>
  <app-notifications *ngIf="appControlService.showNotifications"></app-notifications>
</section>
