.team_section {
  width: 149.75rem;
  height: 100vh;
  overflow: scroll;
  position: relative;
  background: var(--bg-1);
  color: var(--light-text-1);
  padding: 3rem;

  .ts-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .board-info,
    .app-utilities {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      position: relative;

      i {
        font-size: 2rem;
      }

      h3 {
        font-size: 2.6rem;
        font-weight: 400;
        margin-top: 0.1rem;
      }

      .team-members-short-flex {
        scale: 1.3;
        margin-left: 2rem;
      }
    }

    .app-utilities {
      gap: 2rem;

      .medium-button {
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 1.5rem;
        background: var(--bg-2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;

        .bell {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background: #ffe27c;
          position: absolute;
          top: 0;
          right: -0.2rem;
        }
      }

      .link-sharer {
        width: 20rem;
        height: 5.5rem;
        border-radius: 1.5rem;
        background: var(--bg-2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

        h5 {
          width: 100%;
          height: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;

          i {
            font-size: 1.1rem;
          }
        }

        .link-option {
          border-radius: 1.5rem;
          background: var(--bg-1);
          cursor: pointer;
        }
      }
    }
  }

  .ts-top-middle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2.5fr;
    gap: 2rem;
    margin-top: 4rem;

    .stat-box {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      background: var(--bg-2);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      height: 20rem;
      overflow: hidden;

      .overlay-icon {
        font-size: 12rem;
        opacity: 0.05;
        position: absolute;
        top: 50%;
        transform: translateY(-47%);
        z-index: 1;
        right: -3rem;
      }

      .sb-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        .icon-circle {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 2.4rem;
            margin-top: 0.6rem;
            color: var(--theme-var-1);
            ;
          }
        }

        p {
          font-size: 1.4rem;
          font-weight: 400;
        }
      }

      h1 {
        font-size: 6rem;
        font-weight: 400;
        padding-bottom: 1.5rem;
        opacity: 0.75;
        transform: translateY(-1.5rem);
        z-index: 2;
      }
    }

    .ovweekly-achiever-flex {
      background: var(--theme-var-1);
      border-radius: 0.5rem;
      width: 100%;
      height: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .ts-top-middle-1 {
    width: 100%;
    gap: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transform: translateY(5rem);

    .jira-heatmap-flex {
      border-radius: 0.5rem;
      width: 95rem;
      overflow-x: scroll;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2rem;

      .ja-card {
        background: var(--bg-2);
        border-radius: 0.5rem;
        padding: 2rem;
        min-width: 32rem;
        width: fit-content;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;

        .jac-top,
        .jac-bottom {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;

          .project-pointer-labels-flex {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: var(--bg-1);
            border-radius: 5rem;
            padding: 0.5rem;
            height: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            cursor: pointer;

            i {
              margin-top: 0.4rem;
              font-size: 1.2rem;
              margin-left: -0.4rem;
            }

            .pointer {
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 5rem;
            }
          }

          .member-flex {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;

            img {
              width: 4.5rem;
              height: 4.5rem;
              border-radius: 50%;
            }
          }

          .member-name-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            h5 {
              font-size: 1.6rem;
              font-weight: 400;
              max-width: 12rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre;
            }

            p {
              font-size: 1.2rem;
              font-weight: 400;
              opacity: 0.8;
              max-width: 12rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: pre;
            }
          }
        }

        .jac-bottom {
          .heat-tiles-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            .tile-row {
              width: 100%;
              height: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;

              .tile-block {
                width: 3rem;
                height: 3rem;
                background: var(--bg-1);
                position: relative;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 1px solid transparent;
                transition: all 300ms ease;

                p {
                  font-size: 1.2rem;
                  font-weight: 400;
                }

                i {
                  font-size: 1.4rem;
                  margin-top: 0.6rem;
                }

                &::before {
                  content: '';
                  width: 100%;
                  height: 100%;
                  background: var(--theme-var-1);
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: var(--tileBlockOp);
                }

                &:hover {
                  border: 1px solid var(--light-text-1);
                }
              }

              .dummy {
                background: transparent;
                cursor: auto;

                &::before {
                  background: transparent;
                }

                &:hover {
                  border: 1px solid transparent;
                }
              }
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: var(--theme-var-1);
      }

      &::-webkit-scrollbar-corner {
        background: transparent;
      }
    }

    .diff-task-overview {
      width: calc(100% - 93rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;

      h3 {
        margin-top: -3.8rem;
      }

      .dt-container {
        width: 100%;
        border-radius: 0.5rem;
        background: var(--bg-2);
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        h3 {
          font-size: 1.6rem;
          font-weight: 400;
          margin-top: 0;
        }

        .info-box {
          padding: 0.5rem 1.5rem;
          border-radius: 0.5rem;
          background: var(--theme-var-1-dimmed);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;

          i {
            font-size: 3rem;
            margin-top: 0.7rem;
          }

          p {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }

        .task-grid {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 2rem;

          .task-box {
            width: 100%;
            height: 15rem;
            border-radius: 0.5rem;
            background: var(--bg-1);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1rem;
            position: relative;

            img {
              max-height: 4rem;
              max-width: 7rem;
              position: absolute;
              top: 2rem;
              right: 2rem;
            }

            .title {
              padding: 0.5rem 1rem;
              border-radius: 0.5rem;
              background: var(--theme-var-1-dimmed);
              display: flex;
              align-items: center;
              justify-content: center;
              height: 2.5rem;

              i {
                font-size: 1.8rem;
                margin-top: 0.5rem;
                margin-left: -0.5rem;
              }

              p {
                font-size: 1.2rem;
                font-weight: 400;
              }
            }

            .stat-flex {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              padding: 0 1rem;

              h4 {
                font-size: 4rem;
                font-weight: 700;
                opacity: 0.8;
                margin-bottom: -1rem;
              }

              .stat-perc {
                position: relative;
                right: unset;
                bottom: unset;
              }
            }
          }
        }
      }
    }
  }

  .ts-middle-left {
    width: 92.5rem;
    border-radius: 0.5rem;
    background: var(--bg-2);
    margin-top: -13rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;

    .title-flex {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      h3 {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    .an-labels-flex {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;

      .an-label {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background: var(--bg-1);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;

        i {
          font-size: 1.8rem;
          margin-top: 0.5rem;
          margin-left: -0.5rem;
        }

        img {
          height: 1.5rem;
          margin-right: 0.5rem;
        }

        p {
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }

    .an-chart-container {
      height: 25rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 2rem;

      .chart-bar {
        width: calc(100% / 9);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        .bar-flex {
          height: 80%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          gap: 1rem;

          .bar-straw {
            height: 100%;
            width: 0.75rem;
            border-radius: 5rem;
            overflow: hidden;
            position: relative;

            .straw-juice {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: calc(var(--juicelevel) * 1%);
              border-radius: 5rem;
            }

            .empty {
              height: 100% !important;
              background: var(--bg-1) !important;
            }
          }
        }

        .bar-block {
          height: calc(100% / 5);
          width: 100%;
          border-top: 1px dashed rgba(255, 255, 255, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
    }
  }

  .ts-middle-right {
    width: calc(100% - 94.5rem);
    height: 20rem;
    border-radius: 0.5rem;
    background: var(--bg-2);
    float: right;
    margin-top: -20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;

    &>img {
      height: 15rem;
    }

    .content-flex {
      padding-right: 0rem !important;

      h4 {
        font-size: 1.6rem !important;
      }
    }
  }

  .new-ts-container{
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 2.8rem;
      font-weight: 400;
    }

    &>p {
      font-size: 1.4rem;
      font-weight: 400;
      opacity: 0.75;
      max-width: 50rem;
      text-align: center;
      margin-top: 1rem;
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--theme-var-1);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.stat-perc {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  z-index: 2;

  i {
    font-size: 1.6rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.8;
  }
}

.inc {
  i {
    color: var(--success-color);
  }

  p span {
    color: var(--success-color);
  }
}

.dec {
  i {
    color: var(--danger-color-1);
  }

  p span {
    color: var(--danger-color-1);
  }
}

.content-flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  padding-right: 3rem;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  h4 {
    font-size: 1.8rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .stat-flex-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 1rem;

    .stat-box-1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h5 {
        font-size: 2rem;
        font-weight: 600;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: -0.5rem;
      }
    }
  }
}
