<div class="jira-settings_component">
  <div class="settings-top">
    <h1>Atlassian JIRA Settings</h1>
    <div class="settings-search-container">
      <i class="fi fi-rr-search"></i>
      <input type="text" placeholder="Search settings here">
    </div>
  </div>
  <div class="settings-main-flex" style="margin-top: 3rem;">
    <div class="setting-l1-enclosure">
      <div class="sl1e-left">
        <h5>JIRA Account Settings</h5>
        <p>Changes will be applied to your JIRA email and API token.</p>
      </div>
      <div class="sl1e-right">
        <form [formGroup]="jiraAccountFormGroup">
          <div class="input-group input-group-jis1-0"
            [ngClass]="{'input-group-focus-forced': jiraAccountFormGroup.controls['email'].value?.length}">
            <label for="email">Your registered JIRA mail id</label>
            <input formControlName="email" type="text" (focus)="onFieldFocus(0)" (blur)="onFieldFocus(0)">
            <i *ngIf="validateField(jiraAccountFormGroup, 'email')" class="warn-icon fi fi-sr-info"></i>
          </div>
          <span class="error-message" *ngIf="validateField(jiraAccountFormGroup, 'email')">You JIRA account should have
            a valid email!</span>
          <div class="input-group input-group-jis1-1"
            [ngClass]="{'input-group-focus-forced': jiraAccountFormGroup.controls['apiToken'].value?.length}">
            <label for="apiToken">Your apiToken</label>
            <input formControlName="apiToken" type="password" (focus)="onFieldFocus(1)" (blur)="onFieldFocus(1)">
            <i *ngIf="validateField(jiraAccountFormGroup, 'apiToken')" class="warn-icon fi fi-sr-info"></i>
          </div>
          <span class="error-message" *ngIf="validateField(jiraAccountFormGroup, 'apiToken')">You JIRA account should
            have a valid api token!</span>
          <span class="error-message info-message">Please <strong style="cursor: pointer;">click here</strong> to learn
            more about creating api token.</span>
        </form>
      </div>
    </div>
  </div>
  <div class="settings-middle jse-middle" style="margin-top: 2rem;">
    <div class="project-flex active-project" role="button">
      <p>Product QA</p>
    </div>
    <div class="project-flex" role="button">
      <p>Engineering QA</p>
    </div>
    <div class="project-flex" role="button">
      <p>Project QA</p>
    </div>
    <div class="project-flex" role="button">
      <p>Product Backlogs</p>
    </div>
  </div>

  <div class="settings-main-flex jse-main-flex" style="margin-top: -1rem;">
    <div class="setting-l1-enclosure">
      <div class="sl1e-left">
        <h5>JIRA project-board constraints</h5>
        <p>Changes your project tracking constraints in respective boards.</p>
      </div>
      <div class="sl1e-right">
        <div class="checkbox-group" style="margin-top: 0;">
          <div class="custom-checkbox" role="checkbox" [ngClass]="{'inactive-checkbox': checkRestriction()}"
            (click)="onVisibilityChange()">
            <div class="checkbox-ball"></div>
          </div>
          <p>Make it visible to all boards</p>
        </div>
        <span class="error-message info-message">
          Upon enabling it, this project tracking wont be restricted in any of your boards.
        </span>
        <div class="boards-flex">
          <ng-container *ngFor="let board of jiraData?.boardRestrictions">
            <ng-container *ngIf="board?.project == currentProject && board?.project">
              <div class="board-box" *ngFor="let b of board?.boards">
                <p>{{b.boardName}}</p>
                <i class="fi fi-br-cross-small"></i>
              </div>
            </ng-container>
          </ng-container>
          <input type="text" placeholder="Search boards" (focus)="this.showBoardsDisplayFlex = true;">
          <div class="boards-dropdown" *ngIf="showBoardsDisplayFlex" appOutsideClick
            (outsideClick)="this.showBoardsDisplayFlex = false;" [clickExceptions]="['boards-flex']">
            <div class="option" *ngFor="let board of availableBoards">
              <p>{{board.boardName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
