// Font imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Icon imports
@import url("https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css");
@import url('https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css');

i {
  margin-top: 0.6rem;
}

// Common style imports
@import './assets/common/buttons.scss';
@import './assets/common/forms.scss';

// Universal reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Font reset which makes (1 rem = 10px) NOTE: Its useful for responsiveness
html {
  font-size: 52%;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

body {
  --bg-1: #15161a;
  --bg-2: #1e1f24;
  --bg-3: #26272c;

  --theme-var-1: #2684ff;
  --theme-var-1-dimmed: rgba(103, 98, 254, 0.1);
  --danger-color: #e5493a;
  --danger-color-1: #fc7852;
  --danger-color-1-dimmed: rgba(252, 117, 79, 0.1);
  --success-color: #2bc48a;

  --light-text-1: #fdfeff;
  // --light-text-2: #626466;
  // --light-text-3: #a0a3a7;
  --dark-text-1: #222;

  --border-1: #2b2c31;

  --white: #000000;
  --greyLight-1: #131212;
  --greyLight-2: #262629;
  --greyDark: #2b2f3a;
  --greyDark1: #77829f;
}

.team-members-short-flex {
  display: flex;
  align-items: center;
  justify-content: center;

  .mini-image-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  .number-circle {
    background: transparent;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    p {
      font-size: 1rem;
      color: #fff;
    }
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 1rem;
  }

  100% {
    opacity: 1;
    margin-top: 0rem;
  }
}

@keyframes slideDown {
  0% {
    opacity: 1;
    margin-top: 0rem;
  }

  100% {
    opacity: 0;
    margin-top: 1rem;
  }
}
