<section class="settings_section">
  <div class="ses-left">
    <h5>Account</h5>
    <div class="settings-pill-flex">
      <div class="setting-pill-flex active-setting-pill">
        <i class="fi fi-sr-user"></i>
        <p>Profile</p>
      </div>
      <div class="setting-pill-flex">
        <i class="fi fi-ss-dice-d6"></i>
        <p>Board</p>
      </div>
      <div class="setting-pill-flex">
        <i class="fi fi-sr-info"></i>
        <p>About</p>
      </div>
    </div>
    <h5 style="margin-top: 2rem;">Workspace</h5>
    <div class="settings-pill-flex">
      <div class="setting-pill-flex">
        <i class="fi fi-brands-jira"></i>
        <p>Atlassian JIRA</p>
      </div>
      <div class="setting-pill-flex">
        <i class="fi fi-brands-microsoft"></i>
        <p>Microsoft Teams</p>
      </div>
      <div class="setting-pill-flex">
        <i class="fi fi-sr-calendar-clock"></i>
        <p>ZOHO Timesheet</p>
      </div>
      <div class="setting-pill-flex">
        <i class="fi fi-sr-time-fast"></i>
        <p>KEKA</p>
      </div>
      <div class="setting-pill-flex">
        <i class="fi fi-brands-gitlab"></i>
        <p>GitLab</p>
      </div>
    </div>
    <div class="whats-new-box">
      <h4>What's new in version 1.1?</h4>
      <p>Checkout our new integration module. It would help you a lot :)</p>
      <img src="assets/images/main/settings/wn1.png" alt="">
    </div>
  </div>
  <div class="ses-right">
    <!-- <app-profile-settings></app-profile-settings> -->
    <app-board-settings></app-board-settings>
    <div class="confirmation-box">
      <div class="cb-container">
        <h4>Please note that the changes will not applied actually. Your applied changes will be in queue. Please confirm whether to save the changes or not.</h4>
        <button class="primary-button">
          <div class="pb-text">Save</div>
        </button>
      </div>
    </div>
  </div>
</section>
