.settings_section {
  width: 149.75rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: var(--bg-1);
  color: var(--light-text-1);
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-left: 0.25rem;

  .ses-left {
    padding: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    border-right: 1px solid var(--border-1);
    background: var(--bg-2);
    box-shadow: -10px 0 20px rgba($color: #000000, $alpha: 0.2);
    overflow: hidden;
    position: relative;

    h5 {
      font-size: 1.4rem;
      font-weight: 500;
      opacity: 0.75;
      text-transform: uppercase;
    }

    .settings-pill-flex {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .setting-pill-flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        background: transparent;
        cursor: pointer;
        padding: 0 1rem;
        transition: all 300ms ease;

        i {
          font-size: 2rem;
          opacity: 0.6;
        }

        p {
          font-size: 1.5rem;
          font-weight: 400;
        }

        &:hover {
          background: var(--bg-3);
        }
      }

      .active-setting-pill {
        background: var(--theme-var-1);

        i {
          opacity: 1;
        }

        &:hover {
          background: var(--theme-var-1);
        }
      }
    }

    .whats-new-box {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 6rem);
      border-radius: 1rem;
      background: var(--theme-var-1);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;

      h4 {
        font-size: 1.5rem;
        font-weight: 500;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0.9;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
      }
    }
  }

  .ses-right {
    width: 100%;
    height: 100vh;
    padding: 3rem;
    position: relative;

    .confirmation-box {
      width: 100%;
      height: 10rem;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 3rem;
      padding-top: 0;

      .cb-container {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        background: var(--theme-var-1);
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;

        h4 {
          font-size: 1.5rem;
          font-weight: 400;
          max-width: 80%;
        }

        .primary-button {
          align-self: center;
          background: #fff;
          height: 4rem;

          .pb-text {
            padding: 0 2rem;
            color: var(--theme-var-1);
          }
        }
      }
    }
  }
}


.settings-top,
.settings-top-middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 3rem;
    font-weight: 400;
    height: 5.5rem;
  }

  .settings-search-container {
    width: 40rem;
    height: 5.5rem;
    border-radius: 5rem;
    background: var(--bg-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    i {
      font-size: 2rem;
    }

    input {
      width: 100%;
      height: 100%;
      background: transparent;
      outline: none;
      border: none;
      padding: 0 2rem;
      font-family: inherit;
      font-weight: 300;
      font-size: 1.4rem;
      color: inherit;

      &::placeholder {
        font-family: inherit;
        font-weight: 300;
        font-size: 1.4rem;
        color: inherit;
        opacity: 0.5;
      }
    }
  }
}

.settings-main-flex {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  overflow: scroll;

  .setting-l1-enclosure {
    width: 100%;
    padding: 2rem;
    background: var(--bg-2);
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 3rem;

    .sl1e-left,
    .sl1e-right {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .sl1e-left {
      h5 {
        font-size: 1.6rem;
        font-weight: 400;
      }

      p {
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0.75;
      }
    }

    .sl1e-right {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: var(--theme-var-1);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
