<div class="about-settings_component">
  <div class="settings-top">
    <h1>About</h1>
  </div>
  <div class="settings-middle ase-middle" style="margin-top: 2rem;">
    <div class="cate-flex active-cate" role="button">
      <p>About</p>
    </div>
    <div class="cate-flex" role="button">
      <p>Training</p>
    </div>
    <div class="cate-flex" role="button">
      <p>What's new</p>
    </div>
  </div>
  <div class="about-flex">
    <div class="about-enclosure">
      <img src="assets/images/common/todo.svg">
      <div class="about-content-flex">
        <h2>Tetherfi Task Summarizer and Timesheet Automator</h2>
        <h3>Version 1.0.0-beta.1</h3>
        <div class="arr-flex">
          <p role="link">Privacy policy</p>
          <p role="link">Terms of use</p>
        </div>
      </div>
    </div>
  </div>
</div>
