<section class="notifications_component" appOutsideClick
(outsideClick)="this.appControlService.showNotifications = false;" [clickExceptions]="['notifications-button']">
  <div class="join-team-notification">
    <div class="icon-circle">
      <i class="fi fi-sr-users"></i>
    </div>
    <h4>Suraj K has requested you to join Compiler's Clan</h4>
    <p>Please be careful on what board you are sharing with your team. You can change the shared board in the settings later anyways.</p>
    <div class="board-button-flex">
      <div class="board-chooser">
        <p>Yashwanth's board</p>
        <div class="other-boards-flex" *ngIf="showOtherBoardsFlex">
          <div class="board-chooser">
            <p>My private board</p>
          </div>
          <div class="board-chooser">
            <p>My private board</p>
          </div>
          <div class="board-chooser">
            <p>My private board</p>
          </div>
        </div>
      </div>
      <div class="button-flex">
        <button class="primary-button danger-button">
          <div class="pb-text">Deny</div>
        </button>
        <button class="primary-button">
          <div class="pb-text">Accept</div>
        </button>
      </div>
    </div>
  </div>
</section>
